.enter {
  opacity: 0.1;
}

.enter.enterActive {
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}

.leave {
  opacity: 1;
}

.leave.leaveActive {
  opacity: 0.1;
  transition: opacity 250ms ease-in-out;
}
