.composeView {
  position: fixed;
  top: 64px;
  opacity: 1;
  min-height: 100%;
  width: 100%;
  z-index: 10000;
  background: rgba(254, 254, 254, 0.8);
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  animation: fadeIn 300ms ease;
}

.composeForm {
  width: 90%;
  max-width: 700px;
  padding: 50px;
  margin-bottom: 50px;
  position: relative;
  z-index: 1000;
  background: white;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline
}

.fieldsContainer {
  padding: 10px 0;
}

.metaFields {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.buttonContainer {
  margin: 20px 0 0;
}
