.contentContainer {
  width: 100vw;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  background: #FFFEF9;
}

.welcomeHeader {
  color: blue;
}
