.contentContainer {
  width: 100vw;
  height: auto;
  padding-top: 65px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.welcomeHeader {
  margin-top: 20%;
  color: darkgray;
}
